<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Asterisk.NET.WinForm.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="Asterisk.NET.WinForm.Properties.ASettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="Asterisk.NET.WinForm.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="Asterisk.NET.WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup><userSettings>
        <Asterisk.NET.WinForm.Settings1>
            <setting name="test" serializeAs="String">
                <value/>
            </setting>
        </Asterisk.NET.WinForm.Settings1>
        <Asterisk.NET.WinForm.Properties.ASettings>
            <setting name="MASTER_PASSWORD" serializeAs="String">
                <value/>
            </setting>
            <setting name="SERVER_IP" serializeAs="String">
                <value/>
            </setting>
            <setting name="AMI_LAUNCHER_URI" serializeAs="String">
                <value/>
            </setting>
            <setting name="CONFIRMED" serializeAs="String">
                <value>False</value>
            </setting>
        </Asterisk.NET.WinForm.Properties.ASettings>
        <Asterisk.NET.WinForm.Properties.Settings1>
            <setting name="MASTER_PASSWORD" serializeAs="String">
                <value/>
            </setting>
            <setting name="SERVER_IP" serializeAs="String">
                <value/>
            </setting>
            <setting name="AMI_LAUNCHER_URI" serializeAs="String">
                <value>/modules/ami_launcher/libs/al_server.php</value>
            </setting>
            <setting name="CONFIRMED" serializeAs="String">
                <value>False</value>
            </setting>
        </Asterisk.NET.WinForm.Properties.Settings1>
        <Asterisk.NET.WinForm.Properties.Settings>
            <setting name="MASTER_PASSWORD" serializeAs="String">
                <value/>
            </setting>
            <setting name="SERVER" serializeAs="String">
                <value/>
            </setting>
            <setting name="CONFIRMED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AMI_LAUNCHER_URI" serializeAs="String">
                <value>/modules/ami_launcher/libs/al_server.php</value>
            </setting>
            <setting name="NUMBER" serializeAs="String">
                <value/>
            </setting>
            <setting name="START_ON_BOOT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CONNECT_AT_LOGON" serializeAs="String">
                <value>False</value>
            </setting>
        </Asterisk.NET.WinForm.Properties.Settings>
    </userSettings>
</configuration>
